<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="senderID" value="1057831725262"/>
    <add key="ServerKey" value="AAAA9kuvKM4:APA91bG71WENNJDN0g9zcGrPuNfxoqAFCfJpNMPzOoWKSESSaDGkROdF-vuowKcizEJ3f1hmXY0WSeOw4YaXsrB2LaLztuZelB3RT-L0Fiz6s_Y04aImMld-SimAsM6dEH_iLdfIwSkQ"/>
    <add key="url" value="https://fcm.googleapis.com/fcm/send"/>
    <add key="appID" value="1:1057831725262:android:f88f99a86125cdfe43089f"/>
    <add key="packageName" value="com.ith.clashroyale"/>
    <add key="apnIdHeader" value="123e4567-e89b-12d3-a456-42665544000"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
        connectionString="Data Source=ITH-140;Initial Catalog=AppDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>